
body {
    /* background-color: #b861a5; */
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    overflow:hidden ;
    border: 5px solid rgb(255, 255, 255); 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    touch-action: manipulation;
    
  }

  .row-1-buttons button {
    width: calc(95% / 4);
    text-align: center;
    background-color: gray;
  }
  
  .row-2-buttons button {
    width: calc(95% / 4);
    text-align: center;
    background-color: gray;

  }
  
  .row-1-buttons,
  .row-2-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .game-screen {
  display: flex;
  flex-direction: row;
  }
  
  .info-canvas {
    display: flex;
    flex-direction: column;
    
    border: 5px solid rgb(255, 255, 255); 
  }



  .game-board-canvas {
      display: flex; 
      /* flex-direction: row; */
  
  }
  
  @media screen and (max-width: 480px) {
  .info-canvas {
    width: 100%;
  }
  
  .game-board-canvas {
    width: 100%;
  }
  }
  
  img {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    height: 80%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .canvas-wrapper {
    width: 30%;
  }
  canvas {
    display: flex;
    margin: auto;
    /* border: 1px solid black; */
    border: 5px solid rgb(255, 255, 255); 

  }
  

  