
body {
    /* background-color: #b861a5; */
    color: #FFFFFF;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    overflow:hidden ;
    border: 5px solid rgb(255, 255, 255); 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    touch-action: manipulation;
    
  }

  .row-1-buttons button {
    width: calc(95% / 4);
    text-align: center;
    background-color: gray;
  }
  
  .row-2-buttons button {
    width: calc(95% / 4);
    text-align: center;
    background-color: gray;

  }
  
  .row-1-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }

  .row-2-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
  }

  .game-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;

  }
  
  .info-canvas {
    display: flex;
    flex-direction: column;
    
    border: 5px solid rgb(255, 255, 255); 
  }

  .TitleRow {
    display: flex;
    flex-direction: row;
  }


  .game-board-canvas {
      display: flex; 
      /* flex-direction: row; */
  
  }
  
  #welcome-screen {
    overflow:visible; 
    overflow-y: scroll;
}


  @media screen and (max-width: 480px) {
  .info-canvas {
    width: 100%;
  }
  
  .game-board-canvas {
    width: 100%;
  }
  }
  
  img {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    height: 80%;
  }

  /* #game-over-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
} */


#game-over-screen {
  /* display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2em;
  z-index: 10;
  display: flex;
  flex-direction: column; */
}


#game-over-text {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%); 
  z-index: 1000;
  font-size: 3em;
  color: white;
  text-align: center;
}

  
  .container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .canvas-wrapper {
    width: 30%;
  }
  canvas {
    display: flex;
    margin: auto;
    /* border: 1px solid black; */
    border: 5px solid rgb(255, 255, 255); 

  }

  
  .TitleRow {
    display: flex;
    align-items: center;
  }
  
  .TitleRow h1 {
    margin-right: 10px; /* Adjust the margin as desired */
  }
  
  .TitleRow .tetris-logo {
    height: 100%; /* Set the height to 100% of the parent container */
    max-height: 1em; /* Ensure the image doesn't exceed the line height of the text */
  }

  .large-button {
    font-size: 1em; /* Triple the font size */
  }